.clickOpen {
    text-decoration: underline;
    cursor: pointer;
}
.closeOpen {
    content: 'x'; 
    color:red;
    font-weight: 800;
    font-family: Arial, sans-serif;
    cursor: pointer;
    position: absolute;
    padding: 7px 10px;
}
.closeOpen:hover {background: #bbb;}

.about{
    font-size:large;
font-weight: 600;
    color:black;
    float: right;
    width: 600px;
    height: 200px;
    margin-right: 3%; 
    margin-top: -10%; 
    border: black solid 1px;
    
}
.left{
    float: left;
}
.imgCarusel{
    height:250PX;
    width: 250px;
    margin-left: 20px; 
}
.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }